# Importaciones y funciones necesarias

In [73]:
#importamos la librerias necesarias
from numpy import nan
import pandas as pd
import ast

In [74]:
#creamos una funcion para buscar el indice name 
def buscar_nombre(lista):
    #en este caso esto convierte los objetos a listas
    lista = ast.literal_eval(lista)
    # en caso de haber mas de un diccionario con la clave name devuelve todos los valores concatenados
    return ', '.join([i['name'] for i in lista])

#creamos otra funcion con la misma logica  que buscar nombre pero modificada para funcionar con diccionarios
def buscar_nombre_diccionario(dicc):
    #en este caso esto convierte los objetos a diccionarios
    dicc = ast.literal_eval(dicc)
    return dicc['name']

#creamos una funcion para buscar el indice name si el job es igual a director
def buscar_nombre_director(lista):
    #en este caso esto convierte los objetos a listas
    lista = ast.literal_eval(lista)
    for i in lista:
            if i['job'] == 'Director':
                return i['name']
            else: continue

# ETL de movies_dataset.csv

In [75]:
#leemos el csv
movies = pd.read_csv('data/movies_dataset.csv')
#comprobamos que el dataframe este cargado correctamente
movies

C:\Users\Miguel\AppData\Local\Temp\ipykernel_8980\1581738893.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('data/movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [76]:
#comprobamos el tamaño del dataframe
print(movies.shape)
#removemos los valores duplicados
movies.drop_duplicates(inplace=True)
print(movies.shape)
#removemos las columnas que no se utilizaran y/o estan duplicadas
movies = movies.drop(columns=['video', 'adult', 'imdb_id', 'original_title', 'poster_path', 'homepage', 'overview','tagline'])
print(movies.shape)

(45466, 24)
(45453, 24)
(45453, 16)

In [77]:
#remplazamos los nulos por 0
movies['revenue'] = movies['revenue'].fillna('0')
movies['budget'] = movies['budget'].fillna('0')

In [78]:
#removemos las filas con valores faltantes en la columna release_date
movies = movies.dropna(subset=['release_date'])
#eliminamos las filas que no sigan el formato AAAA-MM-DD en la columna release_date
movies['release_date'] = pd.to_datetime(movies['release_date'], format='%Y-%m-%d', errors='coerce')
movies = movies.dropna(subset=['release_date'])

In [79]:
#creamos la columna year 
movies['released_year'] = movies['release_date'].dt.year

In [80]:
#cambiamos el tipo de las columnas budget y revenue a int para poder hacer operaciones
movies['budget'] = movies['budget'].astype(int)
movies['revenue'] = movies['revenue'].astype(int)
#creamos la columna return que es la columna revenue entre la columna budget
    #en caso de que uno de los numeros sea 0 devolvera 0
movies['return'] = movies.apply(lambda fila: fila['revenue'] / fila['budget'] if fila['budget'] != 0 else 0, axis=1)

In [81]:
#aplicamos la funcion buscar_nombre a las columnas para desanidar los datos 
movies['genres'] = movies['genres'].fillna('[]').apply(buscar_nombre)
movies['spoken_languages'] = movies['spoken_languages'].fillna('[]').apply(buscar_nombre)
movies['production_companies'] = movies['production_companies'].fillna('[]').apply(buscar_nombre)
movies['production_countries'] = movies['production_countries'].fillna('[]').apply(buscar_nombre)

In [82]:
#en caso de no haber datos en belongs_to_collection la funcion fillna crea un diccionario con la clave name y el valor "NA"
    #de no hacerlo daria un key error al ejecutar la funcion buscar_nombre_diccionario
movies['belongs_to_collection'] = movies['belongs_to_collection'].fillna('{"name":"NA"}').apply(buscar_nombre_diccionario)

movies['belongs_to_collection'] = movies['belongs_to_collection'].replace('NA', nan)

In [83]:
movies

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,released_year,return
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033,81.0,English,Released,Toy Story,7.7,5415.0,1995,12.451801
1,NaN,65000000,"Adventure, Fantasy, Family",8844,en,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249,104.0,"English, Français",Released,Jumanji,6.9,2413.0,1995,4.043035
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0,101.0,English,Released,Grumpier Old Men,6.5,92.0,1995,0.000000
3,NaN,16000000,"Comedy, Drama, Romance",31357,en,3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156,127.0,English,Released,Waiting to Exhale,6.1,34.0,1995,5.090760
4,Father of the Bride Collection,0,Comedy,11862,en,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911,106.0,English,Released,Father of the Bride Part II,5.7,173.0,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0,"Drama, Action, Romance",30840,en,5.683753,"Westdeutscher Rundfunk (WDR), Working Title Fi...","Canada, Germany, United Kingdom, United States...",1991-05-13,0,104.0,English,Released,Robin Hood,5.7,26.0,1991,0.000000
45462,NaN,0,Drama,111109,tl,0.178241,Sine Olivia,Philippines,2011-11-17,0,360.0,,Released,Century of Birthing,9.0,3.0,2011,0.000000
45463,NaN,0,"Action, Drama, Thriller",67758,en,0.903007,American World Pictures,United States of America,2003-08-01,0,90.0,English,Released,Betrayal,3.8,6.0,2003,0.000000
45464,NaN,0,,227506,en,0.003503,Yermoliev,Russia,1917-10-21,0,87.0,,Released,Satan Triumphant,0.0,0.0,1917,0.000000
45465,NaN,0,,461257,en,0.163015,,United Kingdom,2017-06-09,0,75.0,English,Released,Queerama,0.0,0.0,2017,0.000000

# etl de credits.csv

In [84]:
#leemos el csv
credits = pd.read_csv('credits.csv')
#comprobamos que el dataset se haya cargado correctamente
credits

FileNotFoundError: [Errno 2] No such file or directory: 'credits.csv'

In [ ]:
#comprobamos el tamaño del dataframe
print(credits.shape)
# eliminamos los duplicados y volvemos a comprobar el tamaño del dataframe
credits.drop_duplicates(inplace=True)
print(credits.shape)

(45476, 3)
(45439, 3)

In [ ]:
# obtenemos los nombres de los actores
credits['cast'] = credits['cast'].fillna('[]').apply(buscar_nombre)

In [ ]:
#obtenemos los nombres de los directores
credits['director'] = credits['crew'].apply(buscar_nombre_director)

In [ ]:
#eliminamos la columna crew para reducir significativamente el peso del dataframe
credits = credits.drop(columns='crew')

In [ ]:
credits

,cast,id,director
0,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",862,John Lasseter
1,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",8844,Joe Johnston
2,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",15602,Howard Deutch
3,"Whitney Houston, Angela Bassett, Loretta Devin...",31357,Forest Whitaker
4,"Steve Martin, Diane Keaton, Martin Short, Kimb...",11862,Charles Shyer
...,...,...,...
45471,"Leila Hatami, Kourosh Tahami, Elham Korda",439050,Hamid Nematollah
45472,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",111109,Lav Diaz
45473,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",67758,Mark L. Lester
45474,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",227506,Yakov Protazanov
45475,,461257,Daisy Asquith

# concatenamos y exportamos como csv

In [ ]:
movies = pd.concat([movies, credits], axis=1, join='inner')

movies_limpio_path = 'data/movies_limpio.csv'

movies.to_csv(movies_limpio_path, sep=',', index=False, encoding='utf-8')